
    @{

        ViewBag.Title = "Research Gate";
    }

<section class="main">
    <div>
        <div class="main-info">
            Discover scientific<br>knowledge and stay<br>connected to the<br>world of science
        </div>
        <br />@Html.ActionLink("JOIN FOR FREE", "Registration", "Author", new { @class = "btn-lg" })
    </div>

</section>